* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pages {
  padding-top: 130px;
  min-height: 100vh;
}

/* Banner */
.discount-banner {
  width: 100%;
  height: 180px;
}

.main-banner {
  background-image: url(./components/images/hp_2.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* width: 100%; */
  /* height: 550px; */
}
.sale-banner{
  background-image: url(./components/images/hp70.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sale-banner {
  margin-top: 17px;
}

/* .discount-banner img,
.main-banner img,
.sale-banner img {
  width: 100%;
  height: 100%;
} */
.discount-banner img {
  width: 100%;
  height: 100%;
}

/* Home Page */
.clothings{
  background-image: url(./components/images/DP_HOMEPAGE_CATS_D_WK24.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wedding-guest{
  background-image: url(./components/images/DP_WEDDING_GUEST_DESKTOP.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.clothings,
.wedding-guest {
  margin-top: 50px;
}

/* .clothings img,
.wedding-guest img {
  width: 100%;
  height: 100%;
} */

/* Shop Page */
.shop-all{
  text-align: center;
  margin: 40px auto;
}
.shop-all .shop-all-link{
  text-decoration: none;
  color: rgb(84, 83, 83);
  font-size: 14px;
}
.shop-all .payday{
  margin-top: 20px;
  font-size: 23px;
  letter-spacing: 2px;
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 18px;
  margin-top: 30px;
}

.product {
  text-align: center;
}

.product .image {
  width: 97%;
  height: 450px;
  margin: 0 auto;
}

.product .image img {
  width: 100%;
  height: 93%;
}

.product .image .link {
  text-decoration: none;
  color: black;
}

.product .image p {
  font-size: 13.5px;
  font-weight: 550;
  margin-top: 10px;
}

.product .des {
  line-height: 4;
}

.product .price {
  color: rgb(239, 37, 54);
  font-size: 13px;
}

.product .price .cross {
  color: black;
  text-decoration: line-through;
}

.product-color img:hover {
  border: 1px solid black;
}

.more-products {
  text-align: center;
  margin: 10px 0;
}

.more-products button {
  padding: 10px 60px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  margin: 40px;
}

/* Single Product Page */
.red {
  color: rgb(238, 25, 25);
  font-size: 14px;
}

.cross {
  color: black;
  text-decoration: line-through;
}

.single-product {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.single-product .wears {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 68%;
  padding-left: 10px;
}

.wears img {
  width: 100%;
}

.single-product .product-des {
  width: 50%;
  text-align: center;
}

.product-details {
  width: 75%;
  margin: auto;
  line-height: 2;
}

.product-details .brand {
  font-size: 12px;
}

.product-details .brand-link {
  font-size: 12px;
  color: rgb(149, 147, 147);
  text-decoration: none;
}

.product-details .details {
  margin-top: 20px;
}
.prd-color {
  margin-top: 20px;
  border: 1px solid black;
}
.product-details .size{
  margin: 15px 0 7px 0;
display: flex;
justify-content: center;
gap: 12px;
}
.product-details .size button{
  padding: 4px 8px;
  cursor: pointer;
  background-color: white;
  border-color: rgb(232, 232, 232);
  font-weight: bold;
  font-size: 16px;
}
.product-details .size button:hover{
  color: white;
  background-color: black;
}
.size-link{
  color:rgb(45, 45, 45);  ;
  font-size: 14px;
}
.product-details .buy button{
  width: 60%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(232, 232, 232);
  padding: 13px 0;
  border: none;
  cursor: pointer;
  margin: 18px 0;
}
.product-details .save{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.product-details .save button{
  padding: 13px 33px;
  font-weight: bold;
  border: none;
}
.product-details .save button:hover{
  background-color: rgb(158, 156, 156);
}
.dp-free img {
  margin: 30px 0;
  width: 100%;
}
.product-details .payment-plan{
  font-size: 12.5px;
  color: rgb(76, 76, 76);
  margin-bottom: 15px;
}
.payment-plan b{
  color: black;
}
.payment-plan .plan-link{
  color: black;
}
.product-details .styles{
  color: rgb(46, 45, 45);
  font-size: 13px; 
  line-height: 1.4;
}
.styles .desc{
  margin: 15px 0;
}
.styles .wash{
  margin: 15px 0;
}
.styles .code{
  font-size: 18px;
}
.product-details .delivery{
  margin-top: 50px;
  border-bottom: 1px solid rgb(194, 191, 191);
  padding-bottom: 20px;
}
.delivery .free-delivery{
  border: 1px solid black;
  background-color: rgb(232, 232, 232);
  padding: 8px 0px;
  font-size: 13px;
  font-weight: 550;
  border: none;
  margin: 20px 0;
}
.delivery .return{
text-align: start;
font-size: 13.5px;
}
.return .here{
  color: black;
  text-decoration: none;
}
.return .here:hover{
  text-decoration: underline;
}
.product-details .delivery-cost{
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  font-size: small;
  margin: 30px 0;
}
.delivery-cost .standard, .next-day{
border: 1px solid black;
background-color: rgb(232, 232, 232);
border: none;
}
.delivery-cost .std-con, .next-day{
  display: flex;
  padding: 10px 7px;
}
.standard .spend{
  padding: 9px 3px;
  background-color: rgb(246, 85, 85);
}
.view-all{
  text-align: start;
}
.view-link{
  text-align: start;
  color: black;
  font-size: 13px;
}
.view-link:hover{
  text-decoration: none;
}
.also-like{
  margin-top: 50px;
}
.also-like h4{
  text-align: center;
}

/* Cart page */
.cart-page{
  width: 53%;
  margin: 50px auto;
}
.cart-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cart-content{
  width: 48%;
}
.cart-con{ 
  display: flex;
  gap: 20px;
}
.cart-con .cart-desc{
  line-height: 1.7;
}
.cart-dis{
  border: 1px solid rgb(247, 247, 247);
  background-color: rgb(247, 247, 247);
  padding: 5px;
  margin-bottom: 10px;
}
.cart-con .cart-desc div{
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
.cart-link{
  text-decoration: none;
  color: black;
}
.cart-link:hover{
  text-decoration: underline;
}
.cart-col{
  font-size: 14px;
}
.prd-qty{
  font-size: 14px;
}
.prd-qty .stock{
  color: green;
}
.edit-link{
  color: black;
  font-size: 13px;
}
.edit-link:hover{
  text-decoration: none;
  color: rgb(37, 36, 36);
}
.cart-content_rtn{
  font-size: 14px;
  font-weight: 550;
  border: 1px solid rgb(247, 247, 247);
  background-color: rgb(247, 247, 247);
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  margin: 50px 0 30px 0;
}
.reload-icon{
  font-size: 20px;
}
.cart-content .unlimited{
  border: 5px solid rgb(22, 65, 172);
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.star-icon{
  font-size: 36px;
}
.unlimited .one-year{
  margin-bottom: 30px;
  font-size: 14px;
}
.unlimited .get-unlimited{
  border: 1px solid rgb(247, 247, 247);
  background-color: rgb(247, 247, 247);
  padding: 10px;
}
.cart-total{
  width: 45%;
}
.cart-summary{
  border: 1px solid rgb(247, 247, 247);
  background-color: rgb(247, 247, 247);
  padding: 10px 25px;
}
.cart-summary h3{
  margin-bottom: 20px;
}
.cart-summary .your-cart{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(232, 232, 232);
  line-height: 1.7;
}
.cart-summary .order-total{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.taxes{
  text-align: center;
  font-size: 13px;
}
.cart-summary .checkout-btn{
  background-color: rgb(54, 54, 54);
  color: white;
  width: 100%;
  font-size: 16px;
  border: none;
  padding: 13px 20px;
  font-weight: 550;
  margin-top: 20px;
}
.cart-total button{
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.cart-summary .paypal-btn{
  width: 100%;
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
  padding: 3px 20px;
  margin: 20px 0;
}
.cart-summary .klarna-btn{
  background-color: #ffb3c7;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 13px 20px;
}
.cart-total .pay-gateway{
  text-align: center;
  font-size: 12.3px;
  line-height: 1.6;
  margin: 20px 0;
}
.cart-total .promo-code{
  border: 1px solid rgb(232, 232, 232);
  line-height: 1.6;
  padding: 15px 10px 10px 20px;
}
.promo-code .promo-apply{
  display: flex;
  margin: 20px 0;
}
.promo-apply button{
  padding: 10px;
  background-color: black;
  color: white;
}


/* accordion */
/* .shop-varieties{
  display: flex;
  justify-content: space-between;
} */
.accordion-container{
  /* width: 60%;
  display: flex; */
}
.accordion-tab label{
  /* width: 50%; */
  background-color: rgb(232, 232, 232);
  display: block;
  padding: 15px;
  cursor: pointer;
  /* margin: 2px 0; */
  position: relative;
}
.accordion-tab label::after{
  content: '↑';
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: large;
}
.accordion-tab input:checked ~ label::after{
  content: '↓';
}
.accordion-tab #accordion-1{
  display: none;
}
.aaa{
  display: flex;
  gap: 6px;
}
.accordion-tab > .accordion-content{
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  background: white;
  position: relative;
  top: -10px;
  z-index: -1;
  border: 1px solid rgba(128, 128, 128, 0.204);
}
.accordion-content{
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  justify-content: flex-start;
  gap: 35px;
}
.accordion-content li{
  padding: 10px;
  list-style: none;
}
.accordion-tab input:checked ~ .accordion-content{
  max-height: 100vh;
  /* max-width: 1000vw; */
  box-shadow: 5px 5px 10px whitesmoke;
}
.shop-view {
  display: flex;
  gap: 5px;
}
.shop-view button{
  padding: 10px;
  border: none;
  cursor: pointer;
}
.shop-view .active{
  background-color: black;
  color: white;
}


/* Media Responsiveness */

@media(max-width: 1024px){ 
  .discount-banner{
    height: 130px;
  }
  .products{
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

}

@media(max-width: 790px){
    .pages{
      padding-top: 140px;
    }
    .product .image {
      height: 400px;
    }
}

@media(max-width: 760px){
  .pages{
    padding-top: 100px;
  }
  .discount-banner{
    height: 100px;
  }
  .main-banner{
    background-image: url(./components/images/mob.jpg);
  }
  .sale-banner{
    background-image: url(./components/images/mob70.jpg);
  }
  .clothings{
    background-image: url(./components/images/DP_HOMEPAGE_CATS_MOB_WK24.jpg);
  }
  .wedding-guest{
    background-image: url(./components/images/DP_WEDDING_GUEST_MOBILE.jpg);
  }
  .products{
    grid-template-columns: repeat(2, 1fr);
  }

}
@media(max-width: 500px){
  .product .image {
    height: 350px;
  }
}